// Name of the color can be found at http://chir.ag/projects/name-that-color/

$theme-color-green: #6A9239;
$theme-color-amber: #E69139;
$theme-color-red: #CD5C5C;
$theme-color-dark-red: #B84D4D;
$theme-color-light-red: #D77D7D;
$theme-color-dark-red-1: #B04949;

$color-alto: #E0E0E0;
$color-facebook-blue: #3B5998;
$color-gallery: #EEEEEE;
$color-gray: #888888;
$color-porcelain: #ECEEF0;
$color-shark: #1f2022;
$color-spicy-pink: #7B7171;
$color-wild-sand: #F7F6F6;

$color-black-3: rgba(0, 0, 0, 0.3);
$color-black-12: rgba(0, 0, 0, 0.12);
$color-black-16: rgba(0, 0, 0, 0.16);
$color-black-65: rgba(0, 0, 0, 0.65);
